.header-wraper{
    max-width: 1220px;
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* column-gap: 60px; */
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.logo-el{
    max-width: 150px;
    width: 100%;
}
.logo{
    width: 100%;
}
.header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    background-color:darkslategray;
    -webkit-box-shadow: 5px 10px 5px rgb(32, 49, 49);
            box-shadow: 5px 10px 5px rgb(32, 49, 49);
}
.navigation{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 600px;
    width: 100%;
}
.burger-bar{
    font-size: 50px;
    display: none;
}
.ul-element{
    max-width: 300px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
}
.nav-a{
    position: relative;
    color:white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
}
/* first section-style */
.container{
    max-width: 1220px;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}
.container-wraper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-column-gap: 130px;
       -moz-column-gap: 130px;
            column-gap: 130px;
}
.left-el{
    max-width: 410px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.title-one{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.title{
    text-align: center;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 40px;
}
.section{
    padding-top: 60px;
    background-color:darkslategray;
}
.title1{
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color:black;
    margin-bottom: 10px;
}
.right-el{
    max-width: 410px;
    width: 100%;
}
.image1{
    width: 100%;
}
.text{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 18px;
    text-align: center;
}
/* second section-syle */
.section-wraper{
    max-width: 1440px;
    width: 100%;
    padding-top: 60px;
}
.title2{
    font-family: "Yellowtail", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}
.image3{
    width: 100%;
    display: block;
}
.section-wraper{
    position: relative;
}
.text-el{
    position: absolute;
    top: 75%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

}
.descr{
    text-align: center;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 40px;
}
.button1{
    width: 200px;
    height: 50px;
    background-color: darkslategrey;
    border: none;
    border-radius: 25px;
}
/* footer-style */
.footer-el{
    max-width: 1220px;
    width: 90%;
    margin: 0 auto;
}
.footer{
    background-color: rgb(45, 62, 63);
}
.footer-wraper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
}
.footer-left{
    max-width: 400px;
    width: 100%;
}
.footer-right{
    max-width: 400px;
    width: 100%;
    position: relative;
    background-color: rgb(224, 214, 214);
    border: 4px solid;
    border-radius: 25px;
    -webkit-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
}
.fa-square-facebook{
    font-size: 50px;
}
.fa-square-instagram{
    font-size: 50px;
}
.fa-square-twitter{
    font-size: 50px;
}
.icons{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
}
.form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.form-el{
    max-width: 500px;
    width: 100%;
}
.input{
    width: 100%;
    height: 55px;
    margin: 18px 0;
    color:rgb(10, 56, 56);
    font-size: 16px;
    outline: none;
    border-radius: 50px solid black;
}
.button{
    width: 100px;
    height: 50px;
    background-color: rgb(121, 153, 153);
    border: none;
    border-radius: 25px;
}
/* models-style */
.models-cont{
    max-width: 1220px;
    width: 90%;
    margin: 0 auto;
}
.title3{
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 40px;
    margin-bottom: 15px;
}
.section3{
    margin-top: 60px;
}
.car1{
    width: 210px;
}
.car1-img{
    width: 100%;
}
.car2{
    width: 210px;
}
.car3{
    width: 210px;
}
.car4{
    width: 210px;
}
.car5{
    width: 210px;
}
.car6{
    width: 210px;
}
.cars-one{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 30px;
}
.cars-two{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.cars{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
/* contact-style */
.container{
    max-width: 1220px;
    width: 90%;
    margin: 0 auto;
}
.main-sec{
    margin-top: 100px;
    margin-bottom: 50px;
}
.left-el{
    max-width: 600px;
    width: 100%;
}
.right-form{
    max-width: 600px;
    width: 100%;
}
.map{
    width: 100%;
}
.textarea{
    width: 100%;
    height: 100px;
    resize: none;
}
.contact-main{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
}
.messages{
    font-size: 20px;
}
.nav-a::after {
    content:" ";
    width: 0%;
    height: 4px;
    background-color: brown;
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}
.nav-a:hover::after {
    width: 100%;
}
.footer-right:hover {
    background-color: brown;
}

@media (max-width:768px){
    .icons{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}
@media(max-width:768px){
    .cars-one{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
}
@media(max-width:768px){
    .cars-two{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
}
@media(max-width:480px){
    .cars-one{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}
@media(max-width:480px){
    .cars-two{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}
@media(max-width:768px){
    .container-wraper{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}
@media(max-width:480px){
    .header-wraper{
        position: relative;
    }
}
@media(max-width:480px){
    .navigation{
        display: none;
    }
    .burger-bar{
        display: block;
        position: absolute;
        top: 25px;
        right: 25px;
    }
    .ul-element{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .header-wraper{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .navigation.newNavigation{
        display: block;
    }
}